/*
Colors used:
text (black): #1B1C20;
card background (lightgrey): #EFEFEF;
link (grey): #A0A1A8;
backgound (white): #FAFAFA;
accent (bluemarine): #1BBDD4;
*/
* {
  box-sizing: border-box;
}

body {
  background-color: #fafafa;
  font-family: 'Quicksand', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
  color: #1B1C20;
}

h1, h2, h3 {
  line-height: 1.2;
  margin: 0
}

h1 {
  font-size: 1.563em;
  font-weight: 600;
  margin-top: 24px;
}

h2 {
  font-size: 1.25em;
  font-weight: 500;
}

h3 {
  font-size: 1em;
  font-weight: 600;
}

img {
  width: 100%;
}

/*link*/

a {
  color: #A0A1A8;
  text-decoration: none;
}

a:visited {
  color: #A0A1A8;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #1B1C20;
  text-decoration: none;
}

a:active {
  color: #1B1C20;
  text-decoration: none;
}

.social a {
  display: flex;
  text-decoration: none;
  color: #1B1C20;
  font-weight: 600;
  border-radius: 25px;
  border: 1px solid #1BBDD4;
  width: 42px;
  height: 42px;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
  transition-duration: 0.2s;
}

.social {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

.social a:hover {
  color: #1BBDD4;
}

.copy {
  font-size: 0.8em;
  font-weight: 400;
}
.nav_link {
  color: #1B1C20 !important;
  font-weight: 500;
}

/* button */

.button {
  display: inline-block;
  background-color: transparent;
  color: #1B1C20;
  font-weight: 500;
  font-size: 0.7em;
  text-transform: uppercase;
  padding: 12px 24px;
  border-radius: 25px;
  border: 1px solid #1BBDD4;
  transition-duration: 0.2s;
  text-decoration: none;
}

.button:visited {
  color: #1B1C20;
}

.button:hover {
  color: #1BBDD4;
    }

.back-to-top {
  position: fixed;
  right: 10px;
  bottom: 30px;
  color: #1B1C20;
}

/* header */

header {
  background-color: #fafafa;
  text-align: center;
  padding-top: 16px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.06);
  position: fixed;
  display: inline-block;
  width: 100%;
}

header h2 {
  color: #1B1C20;
  display: inline;
    }

    nav>ul {
    list-style-type: none;
    padding: 0;
  }

  nav>ul>li {
    display: inline-block;
  }

  nav>ul>li>a {
    padding: 0 15px;
    text-transform: uppercase;
    font-size: 0.75em;
    font-weight: 500;
    color: #1BBDD4;
  }

  nav>ul>li>a:active,
  nav>ul>li>a:hover {
    color: #1B1C20;
  }

  nav {
    display: inline-block;
    width: 100%;
  }

/* Layout styling */

main {
  padding-top: 117px;
}
.container {
  padding: 0 16px;
}

.row {
  margin: 48px 0;
}
.cover-img {
  border-radius: 5px;
}

.column {
    margin: 16px 0;
}

#hero {
  background-color: #FAFAFA;
  padding: 20px 0;
  display: inline-block;
  text-align: center;
  width: 100%;
}

#work {
  text-align: left;
}

#work .row {
  background: #EFEFEF;
  border-radius: 5px;
  text-align: center;
  margin: 16px 0;
  padding: 24px;
}

#work .column {
  display: block;
  border-radius: 5px;
  margin: 0;
}
#work p {
margin-top: 8px;
}
#work h3 {
margin: 8px 0;
}

#about-page h3 {
  margin-top: 0;
}

picture {
display: block;
    line-height: 0;
}

/* footer */

 #contact {
   text-align: center;
   margin-top: 24px;
 }

 #contact .container {
   border-top: 1px solid #a0a1a8;
   padding-top: 24px;
 }

 /*CSS Animations example*/

 svg {
   width: 100%;
 max-width: 100%;
 height: auto;
 }
 @keyframes color-change {
  0% {fill: #edc655;}
  50% {fill: #fcffad;}
  100% {fill: #f76414;}
}
.sun {
  animation-duration: 4s;
  animation-name: color-change;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes cloud-move {
  from {transform: translate(0,50px);}
  to {transform: translate(200px,50px);}
}
.cloud-front {
  animation-duration: 24s;
  animation-name: cloud-move;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes cloud-move-reverse {
  from {transform: translate(446px,48px);}
  to {transform: translate(100px, 48px);}
}
.cloud-back {
  animation: 29s cloud-move-reverse infinite alternate linear;
}

/*House Hunters*/

.container-cover{
  background: linear-gradient(270deg, rgba(0, 194, 203, 0.6) 0%, rgba(0, 112, 240, 0.6) 100%);
color: #FFFFFF;
text-align: center;
padding: 0;
margin: 0;
}

.container-project {
  background: image
text-align: left;
padding: 0;
margin: 0;
display: flex;
flex-direction: column;
;
}

.row-project {
display: flex;
max-width: 50%
}
.column-skills {
display: flex;
flex-direction: row;
}
.container-persona {
background: #F2F2F3;
text-align: center;
}
.row-persona {
display: flex;
}
.icons {
display: flex;
flex-direction: row;
}
.column-persona {
display: flex;
flex-direction: column;
max-width: 50%;
padding: 16px;
text-align: left;
}
 /* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {

header {
  text-align: unset;
    padding: 32px 0;
}
nav {
    width: auto;
        float: right;
        }
nav>ul {
    margin: 0;
}
main {
  padding-top: 100px;
}
body {
  font-size: 18px;
}
main h2 {
  font-size: 1.563em;
}
#hero span {
  display: block;
  margin-top: 0;
}
.col-md-6 {
  width: 50%;
  text-align: left;
}
[class*="col-"] {
  float: left;
  padding: 16px;
}
.row::after {
  content: "";
  clear: both;
  display: table;
}
#work .row {
    padding: 0px;
    display: flex;
    }
#work .column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#about-page .row {
  margin: 24px;
}
}






/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {

  .col-lg-7 {
    width: 60%;
}
.col-lg-5 {
  width: 40%;
}
.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
}
/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {
}
/* ==============================
Extra-large devices (1920px or larger)
================================= */
@media only screen and (min-width: 1920px) {
}
